@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --scrollColor: rgb(184, 179, 179);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --scrollColor: rgb(20, 19, 19);
  }
}

* {
  scroll-behavior: smooth;
}

/* Hide scrollbar when not scrolling */
.scrollContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* Show scrollbar on hover or when scrolling */
.scrollContainer:hover::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: var(--background);
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: var(--scrollColor);
  border-radius: 10px;
}

/* Horizontal scrollbar style  */
.scrollContainerX::-webkit-scrollbar {
  height: 8px;
  background: red;
}
/* Show scrollbar on hover or when scrolling */
/* .scrollContainerX:hover::-webkit-scrollbar:horizontal {
  height: 4px;
  background: var(--background);
} */
.scrollContainerX::-webkit-scrollbar-thumb:horizontal {
  background: var(--scrollColor);
  border-radius: 10px;
}

.active-scroll-spy {
  color: skyblue;
  border-left: 1px solid skyblue;
}

html {
  scroll-padding-top: 60px; /* height of your navbar */
}

.text-gradient {
  background: linear-gradient(to right, #764ba2, #667eea);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(to right, #764ba2, #667eea);
}
